body {
  font-size: 16px; 
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}

html, body{
    height: 100%;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.post-content p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Custom container */
@media (max-width: 979px) {
	.navbar-fixed-top {
	  margin-bottom: 0px;
	}
}
.posts .title a {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.post .title a {
    color: #444;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.post-margin {
  margin: 20px 40px 0 40px;
}
.margin {
   margin-left: 40px;
   margin-right:40px;
   margin-top: 5px;
   margin-bottom: 5px;
   height:100%;
}
.post-summary {
    font-size: 0.90em;
    text-align: justify;
}
.div-table {
  display:table;         
  margin: 0 auto;
  width:100%;
}
.div-table-row{
  display:table-row;
  width:100%;
  clear:both;
}
.div-table-col{
  float:right;/*fix for  buggy browsers*/
  display:table-column;         
}

.div-table-cell {
  display:table-cell;         
}

.hr {
  border-bottom: 1px solid #d5d5d5;
  margin: 0;
}
.space {
  margin: 1px 0 0 0;
}

.left {
    float:left;
}
.right {
    float:right;
}

#logo {
  text-align: center;
  padding: 3px 0 3px 0;
  position: relative;
}

#logo a img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;  
    width: 100px;
}

#logo a {
  border: none;
}

#navbar-buttons {
  position:absolute;
  top:3px;
  right:0;
  margin-right: 40px;
}
a.rss{
  background:url('/images/rss.png') center no-repeat #ef7522;
}
a.linkedin{
  background:url('/images/linkedin.png') center no-repeat #1b86bc;
}
a.github{
  background:url('/images/github.png') center no-repeat #333333;
}
.social:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */ 
}

.social {
-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  text-indent: -9999px;
  width: 28px;
  height: 28px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */  
  margin-left: 5px;
}

.container {  
  margin: 0 auto;
  max-width: 960px;
  margin-top: 143px;
}

.disqus {
  padding-top: 10px;
}

#navbar-inner {
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin: auto;
  max-width: 980px;
  border-bottom: 1px solid #989898;
}


@media (max-height: 700px) {
	.navbar-fixed-top {
	   position: static;
	}
	.container {
		margin-top: 0px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.container {  
	  margin-top: 0px;
	}
    .margin {
       margin-left: 0px;
       margin-right:0px;
    }        
}
@media (max-width: 767px) {
	.container {  
	  margin-top: 0px;
	}
    .margin {
       margin-left: 0px;
       margin-right:0px;
    }
	#navbar-buttons {
	  margin-right: 0;
	}	
	.post-margin {
		margin: 20px 0px 0 0px;	
	}
}

footer { 
 position: relative;
 z-index: 10; 
 line-height: normal;
 margin-top: 10px; 
 font-size: 0.7em;
 text-transform: uppercase;
 padding-top: 2em; 
 text-align: center;
}
footer p a {
   border-bottom: 0px;
   color: #0072c6;
   text-decoration: none;   
}

.tags a {
  color: #505050;
  margin-right: 6px;
  font-size: 0.7em;
  padding: 5px 8px 2px 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms background ease;
  display: inline-block;
  border-bottom: 3px solid #fa5305;
}
.tags a:hover {
  color: #fff;
  background-color: #fa5305;
  border-bottom: 3px solid #fa5305;
  text-decoration: none;
}
.tags a:last-child  {
  margin-right: 0px;
}

.comments {
  margin-top:7px;
}

.post-content {
  text-align: left;
  margin-top: 2em;
  font-size: 18px;
}

.post {
  margin: auto;
  background: #fff;
}

.post h2 {
  font-size: 25px;
  line-height: 50px;
  margin: 25px 0 10px 0;
}

p {
  line-height: 25px;
  margin: 0 0 20px;
}

.post .content {
  text-align: left;
  margin-top: 2em;
  font-size: 18px;
}

.post .content li {
  line-height: 150%;
  list-style: square;
}

.post .content ol {
  margin-bottom: 25px;
}

.post-header {
  padding: 7px 40px 20px 40px;
  margin-bottom: 5px;
}

.post hr {
  margin: 45px 0;
}


pre code {
  display: block;
  font-size: 14px;
}

.code {
  font-family: 'Liberation Mono', Monaco, Consolas;
  display: block;
}

code, pre {
    font-family: 'Liberation Mono', Monaco, Consolas;
    font-size: 14px;
}


blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #fa5305;
  font-size: 18px;
}

#pagination {
  margin-top: 1.5em;
  text-align: center;
}

#pagination a {
  margin-top: 20px;
  padding: 7px 20px 3px 20px;
  width: 115px;
  color: #646464;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 4px solid #646464;
}

#pagination a:hover {
  color: #fff;
  background-color: #646464;
  border-bottom: 4px solid #646464;
  text-decoration: none;
}

section#main ul {  
  margin: 0;
}

section#main ul li {  
    text-align: center;
}

.container li {  
  line-height: 25px;
}

section#main li {
    list-style: none;
}

#title {
   text-align: center;
   margin-bottom: 30px;
}

/*tag list*/
.one-post a, p a, .post-content a {
  border-bottom: 1px solid #fa5305;
  color: #505050;
  padding-bottom: 2px;
  text-decoration: none;
}
.one-post a {
    float: left;
    font-size: 1.2em;
}
a:hover {
  text-decoration: none;
  border-bottom: 3px solid #fa5305;
}
.one-post a, .one-post time {
    margin-top: 8px;
}

.tag-list hr {
    margin: 0;
}

.one-post {
    height: 35px;
    margin: 0 40px 0 40px;
}
.post-time {
  margin-top: 3px;
  float: right;
}
.tag-list {
  //max-width: 700px;
  margin: auto;
}
.tag-list hr {
    margin: 0;
}
.container h1 {
  color: #3F3F3F;
  font-size: 1.8em;
  text-align: center; 
  margin-bottom: 40px;
}
/*


.container-narrow {next
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

figure.full img {
  width: 100%;
  max-width: 100%;
  height: auto;  
}

figure.medium
{
    width:400px;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: auto;
    margin-right: auto;    
}

figure.large
{
    width:500px;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: auto;
    margin-right: auto;    
}

figure.large img {
    width:500px; 
    height: auto;
}

figcaption
{
    background-color: #EFEFEF;    
    font-size: 90%;        
    margin-left: 1%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    display: block;
}

footer { 
 position: relative;
 z-index: 10; 
 line-height: normal;
 margin-top: 10px; 
 font-size: 0.7em;
 text-transform: uppercase;
 padding-top: 2em; 
 text-align: center;
}

.content h1 {
  color: #3F3F3F;
  font-size: 1.8em;
  text-align: center; 
  margin-bottom: 40px;
}








.row-fluid .span12 ul .posts {
  margin: 0 0 10px 0;
}
.posts article {
  height: 150px;
}
.posts .tags {
  padding-right: 40px;
}

.post-summary {
    margin: 0 40px 0 40px;
    font-size: 0.90em;
    text-align: justify;
}

.posts {
  //text-align: center;
}

.main ul {  
  margin: 0;
}

.main ul li {  
    text-align: center;
}


.main li {  
  list-style: none;
  line-height: 25px;
}
.main li p{
  margin-bottom: 25px;
}

.posts span {
  float: right;
  text-transform: uppercase;
  font-size: 0.70em;
  color: #777777;
}


.post-comments {
    float:left;
    padding: 10px 8px 2px 40px;
}


.one-post a, p a {
  border-bottom: 1px solid #fa5305;
  color: #505050;
  padding-bottom: 2px;
  text-decoration: none;
}
.one-post a {
    float: left;
    font-size: 1.2em;
}

.one-post a, .one-post time {
    margin-top: 8px;
}



.one-post {
    height: 35px;
}


blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #fa5305;
  font-size: 18px;
}



*/